.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg,#c5c53f,#92926c 48%,#ebf6ff);
}

.auth-form-container,
.login-form,
.register-form{
  display: flex;
  flex-direction: column;
  
  
 
}

@media screen and (min-width:600px) {
  .auth-form-container {
      padding: 2rem;
      border: 2px solid rgb(46, 42, 24);
      border-radius: 10px;
      margin: 0.5rem;
      background-color: #cdceba;
    }
}

h2{
  color:  rgb(73, 72, 65);
}

label{

    text-align: left;
    padding: 0.25rem 0;
    
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

.link-btn{
  background: none;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(33, 31, 170);
}